h1 { text-align: center; }

.badge {
    margin: 3px;
    color: rgba(180, 0, 0, 0.75);
}

@media only screen and (min-width: 768px) {
    .badge { font-size: 1.1em; }
}

@media only screen and (min-width: 992px) {
    .badge { 
        font-size: 1.3em; 
        margin: 7px;
    }
}