<div class="row">
    <div class="visible-md visible-lg col-md-1 col-lg-2"></div>
    <img src="../img/wife-and-I.jpg" alt="Andrew and Wife" class="img img-circle col-xs-4 col-sm-2" />

    <h1 class="col-xs-8 col-sm-10 col-md-7">Get To Know Me</h1>
</div>

<div class="row">
    <blockquote cite="Bryan Adams" [ngClass]="{'col-xs-11': true, 'pull-right': isScreenXS()}">
        Here I am. This is me. There's nowhere else on Earth I'd rather be.
        <small>Bryan Adams (It helps to read it with angst in a gravelly voice)</small>
    </blockquote>
</div>

<div class="row">
    <h2 class="col-xs-12">First things first...</h2>
    <p>
        Let's get the important stuff out of the way first: Batman is the best superhero there is. Period.
        Don't try and change my mind because you're not going to. He has contingency plans to take out every
        member of the Justice League - including himself - if it is ever necessary! He's even beaten Superman
        for cryin' out loud! If you disagree, you're entitled to your opinion...... but you're wrong.
    </p>
    <p>Spider-man is pretty cool too.</p>
</div>
<div class="row">
    <h2 class="col-xs-12">Seriously, though</h2>
    <p>
        My name's Andrew Starr and I'm a software developer. I recieved my Bachelor of Science from
        Bowling Green State University in December of 2015. Six months later, I started my first software
        dev job at Appraisal Research Corporation.
    </p>
    <p>
        What I love about programming is the ability to create something from nothing. You think about other
        types of engineers - electrical, mechanical, civil - and they all have something in common: they
        take one type of material and use it to make something else. Software Engineers, however, get to create
        whatever we want from nothing! I find it exciting that, in the virtual space, the only limitations
        are what we impose on ourselves.
    </p>
</div>
<div class="row">
    <h2 class="col-xs-12">Let's Round You Out As A Person</h2>
    <p>
        My beautiful wife of 3 years and I have had the pleasure of raising an energetic little boy for
        the past 2 years. The two of them keep me pretty busy in my time away from work, but I love every
        minute of it.
    </p>
    <div id="img-closeups" class="col-xs-12">
        <img src="../img/me-closeup.jpg" alt="Andrew Starr" class="col-xs-4 col-sm-offset-2 col-sm-2 img-circle" />
        <img src="../img/son-closeup.jpg" alt="Andrew's Son'" class="col-xs-4 col-sm-offset-1 col-sm-2 img-circle" />
        <img src="../img/wife-closeup.jpg" alt="Andrew's Wife'" class="col-xs-4 col-sm-offset-1 col-sm-2 img-circle" />
    </div>
    <p>
        When I get the chance to have some me-time, I enjoy playing video games (the Batman: Arkham games
        are the best), creating music, and I've recently started getting into woodworking. I've played drums
        for the last 20 years, and I have a minor in recording technology. I have a little home studio
        that I like to use for playing and recording music. Along those same lines, I recently decided to try
        my hand at building custom drums. Once I actually finish one, I'll include some photos of the finished
        product.
    </p>
    <p>
        That's me in a nutshell, I guess. By the way, I don't know if I mentioned but... Batman!
    </p>
</div>